/* Bootstrap Icon */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/* Suzuki Fonts */

@font-face {
    font-family: SuzukiPRORegular;
    src: url(../fonts/SuzukiPRORegular.ttf);
}

@font-face {
    font-family: SuzukiPROHeadline;
    src: url(../fonts/SuzukiPROHeadline.ttf);
}

@font-face {
    font-family: SuzukiPROBold;
    src: url(../fonts/SuzukiPROBold.ttf);
}