@media(max-width:768px) {
    /* ========= Section Hero ========= */
    .section-hero .hero-image {
        margin-top: -5rem;
        z-index: -1;
    }
    .hero-image.bg-overflow-dark:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.929766) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .hero-image.bg-overflow-dark-light:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.929766) -46.57%, rgba(0, 0, 0, 0) 100%);
    }
    .section-hero .hero-image img {
        width: 100%;
        height: auto;
        object-fit: unset;
        position: relative;
    }
    .section-hero .wrapper .hero-text {
        padding: 100px 15px 150px 15px;
        background: linear-gradient(179.44deg, #000000 0.48%, #000000 84.64%, rgba(0, 0, 0, 0) 90.02%);
    }
    .section-hero .wrapper .hero-text.jimny {
        padding: 100px 15px 100px 15px;
        background: linear-gradient(180deg, #121212 90.94%, rgba(18, 18, 18, 0) 100%);
    }
    .section-hero .wrapper .hero-text.transparent {
        background: transparent !important;
    }
    .section-hero .hero-text h3 {
        font-family: SuzukiPRORegular;
        font-size: 24px;
        text-align: end;
    }
    .section-hero .hero-text h1 {
        font-family: SuzukiPROHeadline;
        text-transform: capitalize;
        font-size: 42px;
    }
    .section-hero .hero-text p {
        font-family: SuzukiPRORegular;
        font-size: 12px;
        text-align: end;
    }
    .section-hero .hero-element.left {
        position: absolute;
        top: 43%;
        left: 0%;
        padding: 0 14px;
    }
    .section-hero .hero-element.right.carry {
        top: 60%;
        right: 0;
        padding: 0 14px;
    }
    .section-hero .hero-text.right {
        position: absolute;
        top: 55%;
        right: 10%;
        color: #FFF;
    }
    .section-hero .hero-text.left.carry {
        top: 20%;
        left: 0%;
    }
    .section-hero .hero-awards-carry {
        position: absolute;
        bottom: 5%;
        left: 5%;
    }
    /* ========= Section Accessories ========= */
    .section-accessories .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    /* ========= Section Gallery ========= */
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-1 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-2 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-3 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-4 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-1 .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px;
        grid-row-gap: 14px;
    }
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-1 {
        grid-area: unset;
    }
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-2 {
        grid-area: unset;
    }
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-3 {
        grid-area: unset;
    }
    .section-gallery.gallery-type-1 .gallery-grid .gallery-item-4 {
        grid-area: unset;
    }
    /* ========= galeri 2 ========= */
    .section-gallery.gallery-type-2 .text-gallery-top {
        display: block;
    }
    .section-gallery.gallery-type-2 .text-gallery-bottom {
        display: none;
    }
    /* .section-gallery.gallery-type-2 .gallery-grid .gallery-item-1 img {
        height: 150px;
        object-fit: cover;
    } */
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-2 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-3 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-4 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-5 img {
        height: 150px;
        object-fit: cover;
    }
    .section-gallery.gallery-type-2 .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px;
        grid-row-gap: 14px;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-1 {
        grid-area: unset;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-2 {
        grid-area: unset;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-3 {
        grid-area: unset;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-4 {
        grid-area: unset;
    }
    .section-gallery.gallery-type-2 .gallery-grid .gallery-item-5 {
        grid-area: unset;
    }
    /* ========= Section Detail ========= */
    .section-detail .product-image img {
        height: unset;
        width: unset;
        object-fit: unset;
    }
    .section-detail .product-text {
        margin-left: unset;
        margin-top: 1.5rem;
    }
    .section-detail .product-text .product-title {
        width: 100%;
    }
    .section-detail .product-text .product-title h1 {
        font-size: 28px;
    }
    .section-detail .quantity-num {
        width: 15%;
    }
    .section-detail .quantity-block .button-buy {
        margin-left: 0;
        margin-top: 1.5rem;
        display: block;
    }
    .section-specification .tab-content .inner .list-group {
        width: 100%;
    }
    .section-specification {
        padding: 40px 0 0 0;
    }
}