/* ========= Typography & Button ========= */

.text-dark {
    color: #333 !important;
}

.text-red {
    color: #A71E25 !important;
}

.bg-strong .fw-600 {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: bold !important;
}

.fm-SuzukiPRORegular {
    font-family: SuzukiPRORegular !important;
}

.fm-SuzukiPROHeadline {
    font-family: SuzukiPROHeadline !important;
}

.fm-SuzukiPROBold {
    font-family: SuzukiPROBold;
}

.btn-white {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-white:hover {
    background: #fafafa !important;
}

.btn-red {
    background: #E20A17 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-red:hover {
    background: #FFF !important;
    color: #E20A17 !important;
    transition: .3s;
}


/* ========= Section Hero ========= */

.section-hero {
    position: relative;
}

.section-hero .wrapper {
    position: relative;
}

.section-hero .hero-image {
    position: relative;
}

.section-hero .hero-image.bg-overflow-dark-light {
    position: relative;
}

.section-hero .hero-image.bg-overflow-dark-light:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.929766) -46.57%, rgba(0, 0, 0, 0) 100%);
}

.section-hero .hero-image.bg-overflow-dark {
    position: relative;
}

.section-hero .hero-image.bg-overflow-dark:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.929766) 0%, rgba(0, 0, 0, 0) 100%);
}

.section-hero .hero-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.section-hero .hero-element.left {
    position: absolute;
    top: 35%;
    left: 5%;
}

.section-hero .hero-element.right {
    position: absolute;
    top: 35%;
    right: 5%;
}

.section-hero .hero-text.right {
    position: absolute;
    top: 40%;
    right: 10%;
    color: #FFF;
}

.section-hero .hero-element.right.carry {
    position: absolute;
    top: 25%;
    right: 5%;
    color: #FFF;
}

.section-hero .hero-text.left {
    position: absolute;
    top: 40%;
    left: 10%;
    color: #FFF;
}

.section-hero .hero-text.left.carry {
    position: absolute;
    top: 25%;
    left: 10%;
    color: #FFF;
}

.section-hero .hero-badak {
    position: absolute;
    top: 50%;
    left: 28%;
}

.section-hero .hero-awards-carry {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.section-hero .hero-text h3 {
    font-family: SuzukiPRORegular;
    font-size: 48px;
    text-align: end;
}

.section-hero .hero-text h1 {
    font-family: SuzukiPROHeadline;
    text-transform: capitalize;
    font-size: 80px;
}

.section-hero .hero-text p {
    font-family: SuzukiPRORegular;
    font-size: 14px;
    text-align: end;
}


/* ========= Section About ========= */

.section-about {
    margin-top: 5rem;
}

.section-about .about-img {
    width: 70%;
    z-index: 10;
}

.section-about .about-text {
    background-color: #333;
    width: 100%;
    padding: 100px 150px 100px 100px;
    margin-left: -3rem;
}


/* ========= Section Accessories ========= */

.section-accessories .grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 14px;
    padding-top: 25px;
}

.section-accessories .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transition: .3s;
}

.section-accessories .card.hover-blue:hover .card-body {
    background-color: #003399;
    transition: .3s;
    color: #FFF;
}

.section-accessories .card.hover-blue:hover .card-body .text-muted,
.section-accessories .card.hover-blue:hover .card-body a {
    color: #F5F5F5 !important;
}

.section-accessories .card {
    border: 0;
}

.section-accessories .card .card-body {
    background: #FFFFFF;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
}

.section-accessories .card a {
    font-size: 14px;
    text-decoration: none;
}


/* ========= Section Gallery ========= */

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-1 img {
    height: 550px;
    object-fit: cover;
}

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-2 img {
    height: 255px;
    object-fit: cover;
}

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-3 img {
    height: 255px;
    object-fit: cover;
}

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-4 img {
    height: 270px;
    object-fit: cover;
}

.section-gallery.gallery-type-1 .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    column-gap: 14px;
    padding-top: 25px;
}

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-1 {
    grid-area: 1 / 1 / 3 / 2;
}

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-3 {
    grid-area: 1 / 3 / 2 / 4;
}

.section-gallery.gallery-type-1 .gallery-grid .gallery-item-4 {
    grid-area: 2 / 2 / 3 / 4;
}


/* Galeri Type 2 */

.section-gallery.gallery-type-2 .text-gallery-top {
    display: none;
}

.section-gallery.gallery-type-2 .text-gallery-bottom {
    display: block;
}

.section-gallery.gallery-type-2 .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: #F0F0F0;
    border: 0;
    color: #333;
    border-radius: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: SuzukiPROBold;
    letter-spacing: 1.12px;
    text-transform: capitalize;
}

.section-gallery.gallery-type-2 .nav-tabs .nav-item.show .nav-link,
.section-gallery.gallery-type-2 .nav-tabs .nav-link.active {
    border: 0;
    color: #FFF !important;
    background-color: #E20A17 !important;
    border-radius: 0;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-1 img {
    height: 550px;
    object-fit: cover;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-2 img {
    height: 255px;
    object-fit: cover;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-3 img {
    height: 255px;
    object-fit: cover;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-4 img {
    height: 270px;
    object-fit: cover;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-5 img {
    height: 270px;
    object-fit: cover;
}

.section-gallery.gallery-type-2 .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    column-gap: 14px;
    padding-top: 25px;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-1 {
    grid-area: 1 / 1 / 3 / 2;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-3 {
    grid-area: 1 / 3 / 2 / 4;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-4 {
    grid-area: 2 / 1 / 3 / 1;
}

.section-gallery.gallery-type-2 .gallery-grid .gallery-item-5 {
    grid-area: 2 / 2 / 4 / 4;
}

.section-gallery.gallery-type-2 .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: #F0F0F0;
    border: 0;
    color: #333;
    border-radius: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: SuzukiPROBold;
    letter-spacing: 1.12px;
    text-transform: capitalize;
}

.section-gallery.gallery-type-2 .nav-tabs .nav-item.show .nav-link,
.section-gallery.gallery-type-2 .nav-tabs .nav-link.active {
    border: 0;
    color: #FFF !important;
    background-color: #E20A17 !important;
    border-radius: 0;
}


/* ========= Section Detail ========= */

.section-breadcrumb .breadcrumb {
    margin-bottom: 0;
}

.section-breadcrumb .breadcrumb .breadcrumb-item a {
    color: unset;
    text-decoration: unset;
    font-family: SuzukiPRORegular;
}

.section-breadcrumb .breadcrumb .breadcrumb-item.active {
    color: #003399;
    font-family: SuzukiPRORegular;
}

.section-detail .product-image {
    text-align: center;
}

.section-detail .product-image img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.section-detail .product-text {
    margin-left: 2rem;
}

.section-detail .product-text .product-title {
    width: 50%;
}

.section-detail .product-text .product-title h1 {
    text-transform: uppercase;
    font-size: 48px;
}

.section-detail input[type="number"]::-webkit-inner-spin-button,
.section-detail input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.section-detail input[type="number"] {
    -moz-appearance: textfield;
}

.section-detai input[type=number]:invalid {
    border: 2px solid red;
    outline: none;
}

.section-detail .quantity-block {}

.section-detail .quantity-arrow-minus,
.section-detail .quantity-arrow-plus {
    cursor: pointer;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #003399;
    width: 35px;
    height: 35px
}

.section-detail .quantity-arrow-minus:hover,
.section-detail .quantity-arrow-plus:hover {
    background-color: #003399;
    color: #FFF;
}

.section-detail .quantity-num {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 0;
    outline: none;
    border: 0;
    width: 5%;
    text-align: center;
}

.section-detail .quantity-block .button-buy {
    margin-left: 1.5rem;
}

.section-specification {
    padding: 80px 0 50px 0;
}

.section-specification .nav-tabs .nav-item.show .nav-link,
.section-specification .nav-tabs .nav-link.active {
    color: #E20A17 !important;
    background-color: transparent !important;
    border-bottom: 1px solid #E20A17 !important;
}

.section-specification .nav-tabs .nav-item.show .nav-link,
.section-specification .nav-tabs .nav-link {
    color: #aaa !important;
    border: 0 !important;
}

.section-specification .tab-content {
    padding: 20px 10px;
    color: #333 !important;
}

.section-specification .tab-content .inner .list-group {
    width: 40%;
}

.section-specification .tab-content .inner .list-group .list-group-item {
    background-color: transparent !important;
    border: 0 !important;
    padding-left: 0;
}